* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.img-container {
    /* border: 1px solid blue; */
    display: grid;
    width: 100vw;
    height: 50vh;
    margin: auto;
    margin-top: 3rem;
}
.header-image{
    /* border: 3px solid green; */
    width: 35%;
    height: 43vh;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url('../../public/assets/portfolio-header-img.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: all 0.4s ease-in-out;
    margin: auto;
}
.header-image:hover {
    transform: scale(1.05);
    background: linear-gradient(rgba(110, 110, 110, 0.1),rgba(110, 110, 110, 0.1)),url('../../public/assets/portfolio-header-img.jpg') ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}
    
    
    
    
    
