/* reset default padding and margins */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
================================================
================================================
*/
:root{
  --mainDark: rgba(29,34,38,1);
  --mainTextColor: rgba(185,185,183,1);
}


body {
  background: var(--mainDark);
  color: var(--mainTextColor);
}


