/* reset default padding and margins */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
================================================
GLOBAL VARIABLES
================================================
*/
:root{
  --mainDark: rgba(29,34,38,1);
  --mainTextColor: rgba(185,185,183,1);
}
body {
  background: var(--mainDark);
  color: var(--mainTextColor);
}
h1 {
  text-transform: capitalize;
  letter-spacing: .3rem;
}
/*
================================================
ENTER SITE PAGE
================================================
*/
.enter-site-container{
  border: 1px solid blue;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  
}
.site-logo{
  /* border: 1px solid yellow; */
  display: grid;
  grid-row: 1fr;
  width:100px;
  justify-self: center;
  margin: auto;
  animation: logo-spin .75s 1 linear;
}
@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  


@keyframes logo-pulse {
  0% {
    transform: scale(1);
    box-shadow: 3px 3px 20px rgba(185,185,183, 0);
  }
  100% {
    transform: scale(1.1);
    box-shadow: 3px 3px 20px rgba(185,185,183, 1);
  }
}
.enter-site-title{
  border: 1px solid var(--mainTextColor);
  border-radius: 50%;
  display: grid;
  grid-template-columns: 1fr;
  width:20vw;
  text-align: center;
  margin: 1.5rem auto;
  animation: logo-pulse 1s infinite linear;
}
.enter-btn {
  letter-spacing: .3rem;
  padding: .5rem;
  background: var(--mainDark);
  color: var(--mainTextColor);
  border: 1px solid var(--mainTextColor);
  border-radius: 2rem;
  transition: all 1s ease-in-out;
  box-shadow: 3px 3px 20px rgba(185,185,183, 0);
  text-decoration: none;
}
.enter-btn:hover{
  cursor: pointer;
  background: var(--mainTextColor);
  color: var(--mainDark);
  border: 1px solid black;
}


  
  
  
  
 
 
  
  



